.rbc-calendar {
  height: 100%;
}

.calendar__container {
  height: 87vh;
}

.rbc-header {
  text-transform: capitalize;
}

/* Styles for DateTimePicker */
.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-datetime-picker__button:focus {
  outline: none;
}
