.rbc-calendar {
  height: 100%;
}

.calendar__container {
  height: 87vh;
}

.rbc-header {
  text-transform: capitalize;
}

/* Styles for DateTimePicker */
.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-datetime-picker__button:focus {
  outline: none;
}

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
  z-index: 100;
}
